/**/*
/gulpfile.js
gulpfile.js
!/admin/**/*
!/admin/*
!/lib/**/*
!/lib/*
!/server/**/*
!/server/*
!/widgets/**/*
!/widgets/*
!/io-package.json
!/package.json
!/LICENSE
!/main.js
!/inspect.js
!/README.md
